//vars
$content-width: 1220px;
$content-width--small: 940px;
$content-gutters: 25px;

//in case we have sidebar
$sidebar-width: 300px;


.content {
    @include breakpoint(medium) {
        display: flex;
    }
}

.content-item {
    padding: 0 16px;
    margin-bottom: 40px;
    @include breakpoint(medium) {
        width: 50%;
    }
    @include breakpoint(x-large) {
        width: 75%;
    }
}

select {
    max-width: 100px;
    @include breakpoint(medium) {
        max-width: none;
    }
}