.currency-table {
    margin-bottom: 16px;
    padding: 0 16px;
    @include breakpoint(medium) {
        width: 50%;
    }
    @include breakpoint(x-large) {
        width: 25%;
    }
    table {
        width: 100%;
        border-radius: 4px;
        border-spacing: 0;
        border: solid 1px $color-secondary;
        thead {
            tr {
                &:first-child {
                    th {
                        background: #f7f7f7;
                        &:first-child {
                            border-radius: 4px 0 0 0;
                        }
                        &:last-child {
                            border-radius: 0 4px 0 0;
                        }
                    }
                }
                th {
                    text-align: left;
                    padding: 5px 15px;
                    border-bottom: solid 1px $color-secondary;
                    select {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
        tbody {
            tr {
                &:nth-child(even) {
                    td {
                        background: #f7f7f7;
                    }
                }
                td {
                    padding: 5px 15px;
                }
            }
        }
    }
}