.button {
    @include font-base;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: $background-accent;
    color: $text-color;
    border-radius: 1rem;
    font-weight: $font-weight-bold;
    border: 0;
    min-width: 2.5rem;
    cursor: pointer;

    &:hover {
        background: $background-accent-hover;
    }
    
    &:active {
        background: $background-accent-active;
    }

    &--swapper {
        @include breakpoint(medium) {
            margin-top: 2rem;
            flex-shrink: 0;
        }
    }

    &__icon {
        width: 1.5em;
        height: 1.5em;
        pointer-events: none;

        .button--swapper & {
            transform: rotate(90deg);

            @include breakpoint(medium) {
                transform: rotate(0deg);
            }
        }
    }

    &__text {
        margin-left: 0.25rem;
    }
}