*,
*:before,
*:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    background: $background-color;
    margin: 0;
}

.container {
    padding: 1rem;

    @include breakpoint(medium) {
        display: flex;
        gap: 1rem;
    }

    &__column-70 {
        @include breakpoint(medium) {
            width: 70%;
        }
    }

    &__column-30 {
        @include breakpoint(medium) {
            max-height: calc(100vh - 109px);
            overflow: auto;
            width: 30%;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}