@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

@mixin font-small {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
}

@mixin font-base {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

@mixin font-large {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}

$accent: #6b8e4e;
$light: #b2c5b2;
$gray: #d5dddf;
$font-weight-bold: 800;


$background-color: #1b2727;
$background-accent: $accent;
$background-gray: $gray;

$text-white: #fff;
$text-accent: $accent;
$text-light: $light;
$text-color: #1b2727;

//Colours should always only appear in this colours.scss
$black: #000;
$white: #fff;

$color-bodyText: $black;
$color-primary: #80b96c;
$color-secondary: #c4c4c4;

$color-background: #191A19;
$color-text-secondary: #7F8487;
$color-text-inverted: #fff;
$color-border: #2C3333;