.currency-table {
    @include font-small;

    position: relative;
    width: 100%;
    border-spacing: 0;
    color: $gray;
    text-align: left;

    &__head {
        position: sticky;
        top: 0;
    }

    &__header-cell,
    &__body-cell {
        border-bottom: solid 1px #3c5148;
        padding: 0.344rem 0.5rem;

        &:nth-child(2) {
            text-align: right;
        }
    }

    &__header-cell {
        font-weight: $font-weight-bold;
        background-color: $background-color;

        .table__header:nth-child(2) & {
            padding: 0;
        }
    }
}