.tab {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 16px;
    padding: 1rem 0;

    &__item {
        @include font-small;

        font-weight: $font-weight-bold;
        border-radius: 1rem;
        margin: 0;
        padding: 0.375rem 1rem;
        color: $text-accent;
        cursor: pointer;
    }
    &__item--active {
        background: $background-accent;
        color: $text-color;
    }
}

