//Colours should always only appear in this colours.scss
$black: #000;
$white: #fff;

$color-bodyText: $black;
$color-primary: #80b96c;
$color-secondary: #c4c4c4;

$color-background: #191A19;
$color-text-secondary: #7F8487;
$color-text-inverted: #fff;
$color-border: #2C3333;